background-color: $blackout1;

// .row{
//     background-color: $blackout1;
// }

#input {
    font-size: 3em;
}

.btn-call{
    background-color: $blackout2;
    border-color: darken($blackout2, 20%);
}

.row .btn-call{
    cursor: no-drop;
    margin-bottom: 15px;
}

.btn-call:hover {
    background-color: darken($blackout2, 0%);
    border-color: darken($blackout2, 20%);
}

.btn-call:active:focus,
.btn-call:active:hover {
    background-color: darken($blackout2, 0%);
    border-color: darken($blackout2, 20%);
}

td:not(:first-child) {
    color: $blackout3;
}

td span {
    color: $blackout2;
}

footer {
    p {
        border-top: 1px solid $blackout2
    }

    a {
        color: $blackout3;
    }
}